# our output folder
/out

# java libraries are here
/lib
# stub files left by aspell when correcting mistakes
#*.bak

# nodejs downloaded code
/node_modules
# script installed tools
/tools
# stamp file
/tools.stamp
# python related
__pycache__
*.pyo
*.pyc
