/*
body {
	background-color: grey;
}
*/
.title {
	font-size: 90px;
	text-align: center;
}
.bullet {
	font-size: 60px;
}

/* to make the code snipplets be larger */
.syntaxhighlighter {
	font-size: 30px;
}

.email {
	color: #0066cc;
}
