/*
body {
	background-color: grey;
}
*/

/* disable the scroll bar */
html, body {
	overflow: hidden;
}

.title {
	font-size: 90px;
	text-align: center;
}
.bullet {
	font-size: 60px;
}

/* to make the code snipplets be larger */
.syntaxhighlighter {
	font-size: 30px;
}

.email {
	color: #0066cc;
}
.emphasis, .concept {
	font-weight: bold;
}

.fakemail {
	color: -webkit-link;
	text-decoration: underline;
	cursor: hand;
}
