/*
body {
	background-color: grey;
}
*/

/*
 * <body> by default takes about 8 pixels from every side. We don't want that
 */

body {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

/* disable the automatic scroll bar */
body {
	overflow: hidden;
}

/*
.title {
	font-size: 90px;
	text-align: center;
}
.bullet {
	font-size: 60px;
}

.syntaxhighlighter {
	font-size: 30px;
}
*/

.email {
	color: #0066cc;
}
.emphasis, .concept {
	font-weight: bold;
}

/* to make my fake links look real */
.fakemail {
	color: -webkit-link;
	text-decoration: underline;
	cursor: hand;
}
