body {
	/* <body> by default takes about 8 pixels from every side. We don't want that */
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	/* disable the automatic scroll bar */
	overflow: hidden;
}

/*
.title {
	font-size: 90px;
	text-align: center;
}
.bullet {
	font-size: 60px;
}

.syntaxhighlighter {
	font-size: 30px;
}
*/

.email {
	color: #0066cc;
}
.emphasis, .concept {
	font-weight: bold;
}

/* to make my fake links look real */
.fakemail {
	color: -webkit-link;
	text-decoration: underline;
	cursor: hand;
}

/*
 * These are my own personal settings, for my own personal slides
 *	Mark Veltzer
 */
.title {
	font-weight: bold;
	/* color: -webkit-link; */
	color: blue;
}

/* nice fonts with shadow */
body {
	/* without this -moz browsers will render the body as having 0 height */
	height: 100%;
	font-family: 'Lucida Grande';
	font: 14px "Lucida Grande","Trebuchet MS",Verdana,sans-serif;
	text-shadow: 0pt 2px 5px rgba(0, 0, 0, 0.2); 
	background: -webkit-linear-gradient(top , white, blue 350%);
	background: -moz-linear-gradient(top, white, blue 350%);
	/* background-color: grey; */
}
